{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<!-- Showcase-->
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">{{ project.name }}</h1>
                <p class="lead">{{ project.get_city_display }}, {{ project.get_state_display }}</p>
                <p class="lead"><strong>Zona:</strong> {{project.get_zone_display}}
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'projects' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Proyectos</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Project Pictures -->
<section id="listing" class="py-2">
    <div class="container">
        <a href="{% url 'index' %}" class="btn btn-light mb-4">Regreso a Buscador</a>
        <div class="row">
            <div class="col-md-9">
                <!-- Home Main Image -->
                <img src="{{ project.main_photo.url }}" alt="" class="img-main img-fluid mb-3">
                <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-success text-white">{{ganttimage.fascia_completion}}</span>
                        </h2>
                    </div>

                <!-- Fields -->
                <div class="row mb-5 fields">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-clock"></i> Plazo:
                                <span class="float-right">{{ project.goal_time }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-money-bill-wave-alt"></i> Presupuesto:
                                <span class="float-right">${{ project.budget_allocated | intword }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-glasses"></i> Gerente:
                                <span class="float-right">{{ project.project_manager }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-calendar"></i> Fecha inicio:
                                <span class="float-right">{{ project.create_date }}</span>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <!--Contractor Info-->
            <div class="float-right col-md-3">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ project.contractor.contractor_logo.url }}" alt="Seller of the month">
                    <div class="card-body">
                        <h5 class="card-title">Contratista</h5>
                        <h6 class="text-secondary">{{ project.contractor }}</h6>
                    </div>
                </div>
                <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Comentar</button>
            </div>
        </div>  
</section>
<section>
    <div class="container">
        <a href="{% url 'index' %}" class="btn btn-light mb-4">Regreso a Buscador</a>
        <div class="row">
            <div class="text-secondary">
                <i class="fas fa-eye":before></i><span><strong> Gantt Chart: </strong> {{ project.name }}</span>
            </div>
            
            <div class="float-right col-md-12">
                    {% include 'partials/_ganttimage.html'%}
            </div>      
        </div>
    </div>
</section> 


{% endblock content %}