<div id="container" class="col-md-12">
<h2>No hay Gant para mostrar</h2>
    <script src="http://code.highcharts.com/gantt/highcharts-gantt.js"></script>
    <script>
        // THE CHART
        //var today = new Date(),
            //day = 1000 * 60 * 60 * 24,
            // Utility functions
           //dateFormat = Highcharts.dateFormat,
           //defined = Highcharts.defined,
           //isObject = Highcharts.isObject,
           //reduce = Highcharts.
        // Set to 00:00:00:000 today
        //today.setUTCHours(0);
        //today.setUTCMinutes(0);
        //today.setUTCSeconds(0);
        //today.setUTCMilliseconds(0);
        //today = today.get
        console.log(Date.UTC("{{ project.fascia_start | date:"Y, m, d"}}"))
        console.log("{{ project.fascia_end | date:"Y, m, d"}}")
        Highcharts.ganttChart('container', 
                        {series: [{
                                    name: 'Rebranding {{ project.name }}',
                                    data: [{
                                        name: 'Fascia',
                                        id: 'fas',
                                        dependency: '{{ ganttimage.fascia_parent}}',
                                        start: Date.UTC("{{ project.fascia_start | date:"Y, m, d"}}"),
                                        end: Date.UTC("{{ project.fascia_end | date:"Y, m, d"}}"),
                                        completed: {{ganttimage.fascia_completion}},
                                    },{
                                        name: 'Pintura Canopy',
                                        id: 'pan',
                                        dependency: '{{ project.paint_parent}}',
                                        start: Date.UTC("{{ project.paint_start | date:"Y, m, d"}}"),
                                        end: Date.UTC("{{ project.paint_end | date:"Y, m, d"}}"),
                                        completed: {{ganttimage.paint_completion}},
                                    },{
                                        name: 'Instalación rótulos',
                                        id: 'sig',
                                        dependency: '{{ project.signage_parent}}',
                                        start: Date.UTC("{{ project.signage_start | date:"Y, m, d"}}"),
                                        end: Date.UTC("{{ project.signage_end | date:"Y, m, d"}}"),
                                        completed: {{ganttimage.signage_completion}},
                                    },{
                                       name: 'Cimientos totem',
                                       id: 'fun',
                                       dependency: '{{ project.fundation_parent}}',
                                       start: Date.UTC("{{ project.fundation_start | date:"Y, m, d"}}"),
                                       end: Date.UTC("{{ project.fundation_end | date:"Y, m, d"}}"),
                                       completed: {{ganttimage.fundation_completion}},
                                    },{
                                      name: 'Izaje',
                                      id: 'lif',
                                      dependency: '{{ project.lifting_parent}}',
                                      start: Date.UTC("{{ project.lifting_start | date:"Y, m, d"}}"),
                                      end: Date.UTC("{{ project.lifting_end | date:"Y, m, d"}}"),
                                      completed: {{ganttimage.lifting_completion}},
                                    }]
                                }],
                        });
    </script>
</div>